<ion-view title="Categories">
	<div class="bar bar-subheader">
		<h2 class="title">Create, update and delete a category.</h2>
	</div>
	<ion-nav-buttons side="right">

		<button class="button button-clear icon ion-compose" ng-click="openModal()"></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="cat-table">
			<div class="header row energized-bg energized-border">
				<div class="header col col-5">No</div>
				<div class="header col col-20">Category</div>
				<div class="header col-50">Description</div>
				<div class="header col col-5">Action</div>
			</div>
			<div class="table" ng-repeat="category in categories | orderBy:predicate">
				<div class="table row " ng-class="{'first' : $even, 'second' : $odd}">
					<div class="table col col-5">{{$index + 1}}</div>
					<div class="table col col-20">{{category.category_name}}</div>
					<div class="table col-50">{{category.description}}</div>
					<div class="table col col-5">
						<a class="button button-balanced button-small" data-ng-click="update(category)">Update</a>
						<a class="button button-assertive button-small" data-ng-click="delete(category.category_id, category.category_name)">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>