<ion-view title="Login">
	<ion-content class="padding login">
		<div class="list">
			<form name="loginForm" class="form" submit="login(user_input)" novalidate>
				<div class="list">
					<label class="item item-input item-floating-label"
						   ng-class="{'has-error' : loginForm.username.$dirty && loginForm.username.$invalid, 'no-error' : loginForm.username.$dirty && loginForm.username.$valid}">
						<span class="input-label">Username</span>

						<div class="row">
							<input type="text" placeholder="Username . . ." ng-model="user_input.username"
								   class="form-control" name="username" required/>
							<span class="error-handler col col-10 icon ion-alert-circled assertive"
								  ng-show="loginForm.username.$dirty && loginForm.username.$invalid"></span>
							<span class="error-handler col col-10 icon ion-checkmark-circled balanced"
								  ng-show="loginForm.username.$dirty && loginForm.username.$valid"></span>
						</div>
					</label>

					<label class="item item-input item-floating-label"
						   ng-class="{'has-error' : loginForm.password.$dirty && loginForm.password.$invalid, 'no-error' : loginForm.password.$dirty && loginForm.password.$valid}">
						<span class="input-label">Password</span>
						<div class="row">
							<input type="password" placeholder="Password . . ." ng-model="user_input.password"
								   class="form-control" name="password" required/>
							<span class="error-handler col col-10 icon ion-alert-circled assertive"
								  ng-show="loginForm.password.$dirty && loginForm.password.$invalid"></span>
							<span class="error-handler col col-10 icon ion-checkmark-circled balanced"
								  ng-show="loginForm.password.$dirty && loginForm.password.$valid"></span>
						</div>
					</label>
				</div>
			</form>

			<button class="button button-positive button-block" ng-click="login(user_input)">Log In</button>
		</div>
	</ion-content>
</ion-view>