<ion-view title="Skills">
	<div class="bar bar-subheader">
		<h2 class="title">Create, update and delete a skill.</h2>
	</div>
	<ion-nav-buttons side="right">
		<button class="button button-clear icon ion-compose" ng-click="openModal()"></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="cat-table">
			<div class="header row royal-bg royal-border">
				<div class="header col col-5">No</div>
				<div class="header col col-20">Skill</div>
				<div class="header col-50">Category</div>
				<div class="header col col-5">Action</div>
			</div>
			<div class="table" ng-repeat="skill in skills| orderBy:predicate">
				<div class="table row " ng-class="{'first' : $even, 'second' : $odd}">
					<div class="table col col-5">{{$index + 1}}</div>
					<div class="table col col-20">{{skill.skill_name}}</div>
					<div class=" col-50">{{skill.category.category_name}}</div>
					<div class="table col col-5"><a class="button button-balanced button-small">Update</a>  <a class="button button-assertive button-small" data-ng-click="delete(skill.skill_id, skill.skill_name)">Delete</a></div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>