.form{
	margin-top: 50px
}
/*validation */
span.error-handler, {
	text-align: right;
}

label.has-error {
	-webkit-box-shadow: 1px 1px 1px 1px #ef4e3a;
	-moz-box-shadow: 1px 1px 1px 1px #ef4e3a;
	box-shadow: 1px 1px 1px 1px #ef4e3a;
}

label.no-error {
	-webkit-box-shadow: 1px 1px 1px 1px #66cc33;
	-moz-box-shadow: 1px 1px 1px 1px #66cc33;
	box-shadow: 1px 1px 1px 1px #66cc33;
}

.cat-table{
	margin: 60px 20px 0px 20px;
}

.header.col{
	border: 1px solid;
	padding: 10px;
}

.header.col-50{
	border: 1px solid;
	padding: 10px;
}

.header.row{
	padding: 0;
	color: #fff;
	border-radius: 10px 10px 0px 0px;
	font-weight: bold;
}

.table.col{
	border: 1px solid;
}

.col-50{
	border: 1px solid;
	padding: 5px;
}

.col-5{
	text-align: center;
}

.row.second{
	border-color: #ffffff;
	background-color: #3d3d3d;
	color: #ffffff;
	padding: 0;
}

.row.first{
	border-color: #ffffff;
	background-color: #ffffff;
	color: #6c6c6c;
	padding: 0;
}
